h2 {
  margin: 2rem;
}

.card {
  width: 35%;
  height: 40%;
  border-radius: 1rem;
  border-color: rgb(194, 177, 177);

  .card-title {
    text-align: center;
    margin: 1rem;
  }

  .card-body {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;

    img {
      width: 12vw;
      height: 12vw;
    }
  }
}

.mycardetail {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 1rem;
}

.desactivado {
  opacity: 0.4;
  pointer-events: none;
}
