@import url("https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&display=swap");

header {
  background: linear-gradient(to top, #fceabb, #f8b500);
  width: 100%;
  height: 100%;

  .logo-titulo {
    display: flex;
    align-items: center;
    //justify-content: space-evenly;
    //margin: 0.5rem;

    h1 {
      font-size: 1.5rem;
      font-weight: 900;
    }
  }

  .logo-imagen {
    width: 35%;
    height: 35%;
  }

  .nav-menu {
    color: #643532;
    font-family: "Overlock", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      list-style-type: none;
      align-items: center;
    }

    li {
      margin: 1rem;
      padding: 0.5rem;
    }

    .activeLink {
      padding: 0.5rem;
      border: 1px rgb(224, 48, 25) solid;
      border-radius: 10px;
    }
  }
}
