/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
/* 
header {
  background: linear-gradient(to top, #fceabb, #f8b500);
  width: 100%;
  height: 100%;
}

.logo-titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-imagen {
  width: 35%;
  height: 35%;
}

.nav-menu {
  color: #393264;
  font-family: "Overlock", cursive;
  font-weight: 900;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  list-style-type: none;
}

.nav-menu li {
  margin: 15px 0;
  padding: 15px;
}
 */
/* .Carrito_imagen {
  width: 3rem;
  height: 3rem;
} */

/* 
.itemlistcontainer {
  font-weight: 700;
} */
